@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Välkommen till Park-o-rama</h1>
    <p class="lead">Där parkering alltid är ett nöje</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Smidig parkering</h5>
                    <p class="card-text">Vi har gott om plats för stora och små.</p>
                    <a href="#" class="btn btn-primary">Boka nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Självparkering</h5>
                    <p class="card-text">Parkera själv och spara tid och pengar.</p>
                    <a href="#" class="btn btn-primary">Boka nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Månadsvis parkering</h5>
                    <p class="card-text">Få en fast plats varje månad med vårt månadskort.</p>
                    <a href="#" class="btn btn-primary">Boka nu</a>
                </div>
            </div>
        </div>
    </div>
</div>

